@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bona+Nova+SC:ital,wght@0,400;0,700;1,400&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    background-image: linear-gradient(to right, #FF7F11, #ff4c1b);
}

nav{
    text-decoration: none;
    padding: 3px;
    background-image: linear-gradient(to bottom, #37c47400, #fa685d00);
}

nav > a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    margin-right: 30px;
    font-size: 20px;
    font-family:"Playfair Display", serif;
}

#titulo-receitas{
    color: white;
    text-align: center;
    text-shadow: 50px 50px 50px white;
    font-family: "Playfair Display", serif;
}

main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #8f844700;
    width: 600px;
    padding: 10px;
    margin: auto;
}

#historia-familia{
    color: #ff4c1be0;
    text-align: center;
    font-family: "Bona Nova SC", serif  
}

p{
    font-size: medium;
}

#mesa{
    width: 280px;
}

#familia{
    height: 349px;
    width: 280px;
    right: 50px;
}

#mesa{
    width: 20rem;
    height: 30rem;
    margin-left: 7rem;
}

li{
    display: block;
    text-align: justify;
}

footer{
    text-align: center;
    background-color: #1daf24;
    padding: 2rem;
    border-radius: 10px;
    margin-top: 0.55rem;
}

.secao-descoberta{
    text-align: center;
    margin-top: 0.55rem;
}

#botao-mais > a{
   text-transform: uppercase;
   text-decoration: none;
   border-radius: 8888px;
   background-color: #1daf24;
   color: #fff;
   padding: 1rem 1.5rem;
   width: fit-content;
   display: block;
   margin: 1rem auto;
}